<nav id ="navbar" th:fragment="navbar" class="navbar navbar-default ">
    <div class="zb-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">
								Toggle navigation
							</span>
                <span class="icon-bar">
							</span>
                <span class="icon-bar">
							</span>
                <span class="icon-bar">
                </span>
            </button>
            <a class="logo-a" href="/">
                <img src="/img/logo-color.png" alt="logo" />
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li th:class="${categoryId=='index' ? 'level-1 active' : 'level-1 '} ">
                    <a zjax="" th:href="@{/}">
                        首页
                    </a>
                </li>
                <li th:if="${category.pid==null||category.pid==0}" th:each="category:${@module.get('categoryList')}" th:class="${#lists.isEmpty(category.nodes)?'':'dropdown'}">
                    <a zjax="" th:if="${category.pid==null||category.pid==0}" th:href="@{${not #lists.isEmpty(category.nodes)? '#': ('/' + category.aliasName)}}" th:class="${#lists.isEmpty(category.nodes)?'':'dropdown-toggle'}" th:data-toggle="${#lists.isEmpty(category.nodes)?'':'dropdown'}">
                        <span th:text="${category.name}"></span>
                        <b th:if="${not #lists.isEmpty(category.nodes)}" class="caret"></b>
                    </a>
                    <ul th:if="${not #lists.isEmpty(category.nodes)}" class="dropdown-menu">
                        <li th:each="node:${category.nodes}"><a zjax="" th:href="@{${'/' + node.aliasName}}" th:text="${node.name}"></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i  class="fa fa-search search-btn"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>