<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.nbclass.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.nbclass.model.BlogCategory" >
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="alias_name" property="aliasName" />
        <result column="description" property="description" />
        <result column="pid" property="pid" />
        <result column="sort" property="sort" />
        <result column="type" property="type" />
        <result column="template" property="template" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <association property="parent" javaType="com.nbclass.model.BlogCategory">
            <result property="id" column="p_id"/>
            <result property="pid" column="p_pid"/>
            <result property="name" column="p_name"/>
            <result property="aliasName" column="p_alias_name" />
            <result property="description" column="p_description"/>
            <result property="status" column="p_status"/>
        </association>
        <collection property="nodes" column="n_id" javaType="ArrayList" ofType="com.nbclass.model.BlogCategory">
            <result property="id" column="n_id"/>
            <result property="pid" column="n_pid"/>
            <result property="name" jdbcType="VARCHAR" column="n_name"/>
            <result property="aliasName" column="n_alias_name" />
            <result property="description" jdbcType="VARCHAR" column="n_description"/>
            <result property="status" jdbcType="INTEGER" column="n_status"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        name,
        alias_name,
        description,
        pid,
        sort,
        type,
        template,
        status,
        create_time,
        update_time
    </sql>


    <select id="selectList" resultMap="BaseResultMap" parameterType="com.nbclass.model.BlogCategory">
        SELECT t.*,
        p.id AS p_id,
        p.`pid` AS p_pid,
        p.`name` AS p_name,
        p.alias_name as p_alias_name,
        p.description AS p_description,
        p.`status` AS p_status,
        n.`id` AS n_id,
        n.`pid` AS n_pid,
        n.`name` AS n_name,
        n.alias_name as n_alias_name,
        n.description AS n_description,
        n.`status` AS n_status
        FROM
        blog_category t
        LEFT JOIN blog_category p ON t.pid = p.id
        LEFT JOIN blog_category n ON n.pid = t.id
        ORDER BY t.sort ASC
    </select>


</mapper>